header {
    width: 100%;
    height: 27px;
    background: rgba(0,0,0,0.9);
}

.first-section {
    width: 100%;
    height: 800px;
    /* background: #fff; */
    background: #F8F9F9;
} 

.second-section {
    width: 100%;
    height: 800px;
    background: #e7e7;   
} 

.third-section {
    width: 100%;
    height: 800px;
    background: #e3e3;   
} 

.fourth-section {
    width: 80%;
    height: 800px;
    background: rgba(0,0,0,0.8);
    margin-top: 10%;
} 

.options-list {
    margin: 0 0 0 10%;
    list-style-type: none;
}

.options-list li {
    color: #000;
    display: inline-block;
    float: left;
    margin-left: 8%;
    font-family: sedan;
}

.options-list li a:hover {
  background: #F4F6F6;
  border-radius: 500px;
  height: 60px;
  margin-top: 7%;
}

.options-style {
    color: #000;
    text-decoration: none;
    font-family: sedan;
    font-size: 21.5px;
}

.navmenu-color {
    background: #fff; 
}

.navmenu-size {
  height: 75px;
  /* position: absolute; */
}

.logo-img {
width: 65px;
height: 45px;
margin-top: 5.5%;
}

.logo-container {
    margin-left: 21%;
}

.icon-color {
    color: black;
}

.menu-ubication {
    margin: 0 0 0 13%;
}

.show {
    display: block;
}

.hidden {
    display: none;
}

footer {
    margin-top: -20px;
    width: 100%;
    height: 90px;
    background: #000;
}

#menu-responsive {

    width: 45%;
  
}

/* .sidenav li .options-style:hover {

    background: #e2e2;
} */

.ki {

    margin-left: 90%;
    position: absolute;
   
}